.header {
    font-family: 'Montserrat',Arial,sans-serif;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    /* background-color: whitesmoke; */
    background: linear-gradient(170deg, rgb(249, 248, 253) 50%, rgb(230, 232, 253) 60%);
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.c-nav a {
    display: block;
    padding: 16px 8px;
    font-size: 20px;
    font-weight: bold;
}

.c-nav a:link {
    text-decoration: none;
    align-items: center;
    padding: 20px;
}

.c-nav a:hover {
    /* text-decoration-color: rgb(82, 54, 84); */
    /* text-decoration: none; */
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 20px;

}

.c-nav a:active {
    color: #e52a6f;
    /* text-decoration: none; */
    border-bottom: 3px solid  #e52a6f;
    ;

}

.c-nav li {
    display: inline-block;
}

.header-left {
    display: flex;
    padding: 10px 20px;
}

.header-left img {
    display: block;
}

.header-left h4 {
    display: block;
    color: rgb(139, 36, 23);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 20px;
    margin-left: 10px;
}