.header {
    font-family: 'Montserrat',Arial,sans-serif;
    display: flex;
    padding: 0px 15px;
    justify-content: space-between;
    position: sticky;
    background: linear-gradient(170deg, rgb(249, 248, 253) 50%, rgb(230, 232, 253) 60%);
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header-right {
    padding: 10px 15px;
}

.spacer {
    flex: 1;
}

.c-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.c-nav a {
    display: block;
    padding: 15px 8px;
    font-size: 19px;
    font-weight: bold;
}

.c-nav a:link {
    text-decoration: none;
    align-items: center;
    padding: 16px;
}

.c-nav a:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 20px;

}

.c-nav a:active {
    color: #e52a6f;
    border-bottom: 3px solid  #e52a6f;
}

.c-nav li {
    display: inline-block;
}

.header-left {
    display: flex;
    padding: 10px 20px;
    margin-left: 1rem;
}

.header-left img {
    display: block;

}

.header-left h4 {
    display: block;
    color: rgb(139, 36, 23);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 20px;
    margin-left: 10px;
}

.social_info {
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
}

.social_info ul {
    display: block;
    list-style: none;
    padding: 0;
}

.social_info li {
    display: inline-block;
    align-content: center;
}

.social_info button {
    border: none;
    background: none;
    cursor: pointer;
}
.social_info button > .MuiSvgIcon-root {
    
    color:rgb(139, 36, 23)
}

.social_info button:focus  {
    outline: none;
}

.social_info button:active {
    outline: none;
}

/* .social_info button:hover > .MuiSvgIcon-root {
    background-color: #eff2f5;
    padding: 1px 2px;
} */

@media(max-width: 768px) {
    .c-nav {
        display: none;
    }

}

@media(min-width: 769px) {
    .header-left {
        margin-left: 0;
    }
}