.social-info_page {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 200;
    animation: MoveUpDown 0.3s linear;
}

@keyframes MoveUpDown{
    0%{height:0%}
    100%{height:100%}
}

.social-info_page.open {
    height: 100%;
    background: radial-gradient(rgba(247, 227, 229, 0.9) 40%, rgba(192, 175, 211, 0.9) 80%);
}


.spacer {
    flex: 1;
}

.social-info_page.open .cancel {
    height: 80px;
    width: 100%;
    display: flex;
}

.social-info_page.open .close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
}

.social-info_page.open .close-button >  .MuiSvgIcon-root {
    color: black;
    height:50px;
    width: 50px;
}
.social-info_page.open .close-button:hover {
    outline: 0;
}

.social-info_page.open .close-button:focus {
    outline: 0;
}

.social-info_page.open .all-profiles {
    width: 100%;
    height: 100%;
    top: 80;
}
.social-info_page.open .all-profiles_modal {
    background-color: transparent;
    height: 60%;
    width: 30%;
    position:absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;

}

.social-info_page.open .all-profiles_modal .title {
    color: #440047;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    word-spacing: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.social-info_page.open .all-profiles_modal .pr-button {
    height: 50px;
    width: 50%;
    margin: 0px;
    background: none;
    font-weight: bold;
    font-size: 17px;
}

.social-info_page.open .all-profiles_modal .pr-button > .MuiButton-root {
    display: inline-block;
    position: absolute;
    
}

.social-info_page.open .all-profiles_modal .pr-button.github {
    color: #fff;
    background-color: rgb(34, 37, 41);	
    border:1px solid rgb(34, 37, 41);	
    text-shadow: 0 -1px 0 #ccccee;
    background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .5) inset;	 
}

.social-info_page.open .all-profiles_modal .pr-button.linkedin {
    color: #fff;
    background-color: rgb(42, 102, 188);	
    border:1px solid rgb(42, 102, 188);	
    text-shadow: 0 -1px 0 #ccccee;
    background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .5) inset;	 
}

.social-info_page.open .all-profiles_modal .pr-button.linkedin {
    color: #fff;
    background-color: rgb(42, 102, 188);	
    border:1px solid rgb(42, 102, 188);	
    text-shadow: 0 -1px 0 #ccccee;
    background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .5) inset;	 
}

.social-info_page.open .all-profiles_modal .pr-button.medium {
    color: black;
    background-color: whitesmoke;	
    border:1px solid whitesmoke;	
    text-shadow: 0 -1px 0 #ccccee;
    background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .5) inset;	 
}

@media(max-width: 768px) {
    .social-info_page.open .all-profiles_modal .title {
        font-size: 30px;
    }
    .social-info_page.open .all-profiles {
        width: 100%;
        height: 100%;
        top: 80;
    }
    
    .social-info_page.open .all-profiles_modal {
        background-color: transparent;
        width: 100%;
        position:absolute; 
        top:80;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
}
