.social-info_page {
    background-color: rgba(0,0,0, 0.7);
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 200;
    transform: translateY(-100%);
    transition: transform 1s ease-in;
}

.social-info_page.open {
    background-color: rgba(0,0,0, 0.7);
    transform: translateY(0);
}

.social-info_page ul {
    align-self: center;
    width: 50%;
    height: 50%;
}

.social-info_page li {
    color: white;
}